fastapi
fastapi.middleware.cors
PyPDF2
langchain.text_splitter
langchain
langchain_google_genai
google-generativeai
langchain_community.vectorstores
langchain.chains.question_answering
langchain.prompts
dotenv


